@page
@model ErrorModel
@{
    ViewData["Title"] = "Възникна грешка в този ";
}
<div class="text-page clearfix">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
        <h1 class="text-danger">Възникна грешка!</h1>
        <h2 class="text-danger">Има нещо гнило в съдебната система :)</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>