@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-page clearfix">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
        <h1>Достъп до Електронни съдебни дела</h1>
        <div class="row clearfix">
            <div class="col-md-6">
                <p>
                    В портала имате възможност да прегледате електронните копия на Вашите съдебни дела, включително и да копирате различни документи, съдържащи се във Вашето дело. Чрез портала са достъпни делата само на съдилищата, технически свързани с портала.
                    <a href="~/Content/CourtsList.html">Списък на свързаните до момента с портала съдилища</a>
                    <span style="display:block; margin-top: 5px;">Информация за данните, съдържащи се в електронното дело, може да видите в раздел "<a href="~/Content/Help.cshtml#case-data">Помощ</a>".</span>
                </p>
                <p>
                    <strong>Достъп до конкретно електронно дело в системата могат да получат единствено страните и техните представители</strong> (определени по силата на закона или чрез упълномощаване), но само след тяхното изрично писмено волеизявление. Достъпът се управлява (разрешава, променя или спира) от компетентния за съответното дело съд, чрез попълване и подаване на писмено искане за това.
                </p>
                <p>
                    Достъпът в системата се осъществява с помощта на потребителски профил, защитен с потребителско име, представляващо Вашия адрес на електронна поща и парола. Веднъж създаден, този профил се използва за всички Ваши настоящи и бъдещи дела, независимо от това кой съд е компетентен да ги разгледа.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    За да бъде създаден Ваш собствен профил за достъп в системата, е необходима регистрация в портала (редът за извършване на регистрация може да видите в <a href="~/Content/ElectronicCasesAccessRules.html">Правилата за достъп до електронни дела</a>). Регистрацията се извършва на място в някое от съдилищата, свързани с портала, чрез еднократно попълване на писмено заявление.
                </p>
                <p>
                    Системата дава възможност и за автоматично уведомяване на електронна поща при извършване на определени процесуални действия, като например Електронно призоваване. За получаване на електронни призовки и съобщения чрез системата е необходимо изричното писмено съгласие на лицето, изразено чрез попълване на писмено заявление на място в компетентния съд по съответното дело.
                </p>
                <p>
                    Моля да имате предвид, че през портала са достъпни само данни и документи, изпратени и заредени в системата от съответния съд, компетентен по Вашето дело. Ако има пропуски или неточности, моля да потърсите съдействие там.
                </p>
            </div>
        </div>

        <div class="home-login">
            <a class="home-login-btn" href="~/Content/Login.html">Вход в системата за Електронни дела</a>
        </div>
    </div>
</div>