@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Смяна на забравена парола ";
}

<h1>@ViewData["Title"]</h1>
<p>
    Моля проверете пощата си!
    Получихте писмо с инструкции за смяна на паролата.
</p>